<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Sarthi_HRMS\New-folder--4-\Job_portal" />
        <add key="WSGI_HANDLER" value="Job_portal.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="Job_portal.settings" />
    </appSettings>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
            <handlers>
                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\Sarthi_HRMS\New-folder--4-\Job_portal\venv\Scripts\python.exe|C:\inetpub\wwwroot\Sarthi_HRMS\New-folder--4-\Job_portal\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
                <add name="wfast cgi hrms" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\Sarthi_HRMS\New-folder--4-\Job_portal\venv\Scripts\python.exe|C:\inetpub\wwwroot\Sarthi_HRMS\New-folder--4-\Job_portal\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            </handlers>
        </system.webServer>
    </location>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HRSarthi" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
