{% extends 'base.html' %}

{% block extra_styles %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Add this code within your template or in a separate CSS file -->
    <style>
        /* Modal styles */
        .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
        background-color: #fff;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        }

        .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        }

        .close:hover,
        .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
        }

        form {
        margin-top: 20px;
        width: 80%;
        margin-left: 30px;
        }

        label {
        display: block;
        margin-bottom: 10px;
        }

        input[type="date"] {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        }

        button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;
        }

        button[type="submit"]:hover {
        background-color: #45a049;
        }

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 4px solid #f3f3f3;
            border-top: 4px solid #3498db;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            
          }
          
          @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          }
    </style>
    <style>
        .row input,.row select{
        width: 95%;
        margin-left: 1%;
    }
    input,select{
        border: 1px solid rgb(187, 187, 246);
        border-radius: 5px;
        padding: 4px;
        background-color: #e3e3ec;
    }
    input:hover,select:hover{
        border: 2px solid rgb(137, 137, 190);
    }
    .row span{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 8px;
        margin-top: 15px;
    }
    .address_div,.education_div,.training_div,.current_emp_div,.family_div{
        margin-top: 4%;
    }
    .address tr td input,.education tr td input,.training tr td input,.current_emp tr td input,.family tr td input{
        /* padding: 10px; */
        /* border: none; */
        width: 88%;
        margin-top: 14px;
    }
    .address tr,.education tr,.training tr,.current_emp tr,.family tr{
        margin-left: 40px;
        margin-top: 15px;
    }
    textarea{
        border: 1px solid rgb(187, 187, 246);
        border-radius: 15px;
        margin-left: 3%;
    }
    </style>
    <style>
      .basic-details-card{
        margin: 0px;
        margin-top: 15px;
      }

      @media (min-width: 720px){
        .basic-details-card{
          width:100%;
          float:left; 
          margin-right: 20px; 
        }
      }
      .resume-file {
        height: 89%;
        width: 100%;
    }
      .resume-card{
        border-radius: 5px;
        border: 1px solid #b3aeaed1;
        height: 400px;
        margin-bottom:10px;
      }
      @media(min-width:720px){
        .resume-card {
          width:48%;
          float:right;
          border-radius: 5px;
          border: 1px solid #b3aeaed1;
          margin-top: 20px;
          height: 515px;
        }
      }
      .aadhar-documents{
        border-radius: 5px;
        border: 1px solid #b3aeaed1;
        height: 400px;
        margin-bottom:10px;
     
      }
    
      @media(min-width:720px){
        .aadhar-documents {
          width:48%;   
          border-radius: 5px;
          border: 1px solid #b3aeaed1;
          margin-top: 20px;
          height: 515px;
          float: left;
        }
      }
      .education_doc{
        display:flex;
        justify-content:space-between;  
    }
    
    @media(max-width:720px){
        .education_doc{
            width:100%;  
            display:block;
        }
    }
      .ssc-documents{
        border-radius: 5px;
        border: 1px solid #b3aeaed1;
        height: 400px;
        margin-bottom:10px;
      }
    
      @media(min-width:720px){
        .ssc-documents {
          width:48%;
          border-radius: 5px;
          border: 1px solid #b3aeaed1;
          margin-top: 20px;
          height: 515px;
          float:right;
        }
      }


      @media (max-width: 1279px){
        .mobile-nav-show {
          color: rgba(73, 70, 70, 0.6);
          font-size: 28px;
          cursor: pointer;
          line-height: 0;
          transition: 0.5s;
          z-index: 9999;
          margin-right: 10px;
        }
      }
      .container-content{
        width:80%;
        margin-left:40px;
        display:flex;
    }

    @media(max-width:640px){
        .container-content{
            display:block;
            width:90%;
            margin-left:20px;
            margin-right:20px;
            margin-bottom:10px;
        }
    }

    .container{
        width:75%;
        margin-right:25px;
    }

    @media(max-width:640px){
        .container{
            width:100%;
        }
    }

    .item_list .info_title {
        font-size: 26px;
        font-family: 'DIN Bold';
        line-height: 0.94;
        letter-spacing: -0.5px;
        color: #a8407f;
        background-color: #e3e3e3;
        padding: 10px 15px;
        border-radius: 5px;
        text-transform: capitalize;
    }
    
    .item_list {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    ul {
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
    .item_list li.first_row_btn {
        padding: 0px !important;
        box-shadow: none !important;
        background: none !important;
    }
    
    .item_list_block {
        width: 100%;
        clear: both;
        background-color: #fff;
        margin-bottom: 10px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        position: relative;
    
    }
    
    .count_Icon {
        width: 30px;
        height: 30px;
        display: inline-block;
        position: relative;
        border: solid 0.5px #a8407f;
        border-radius: 50%;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 27px;
        text-align: center;
        letter-spacing: -0.5px;
        color: #a8407f;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 1;
        margin-right: 10px;
    }
    
    .step_open .form_outer {
        display: block;
    }
    
    .item_list .form_outer {
        display: none;
        padding: 15px;
    }
    
    .panel-row {
        margin-bottom: 5px;
    }
    
    .material-icons {
        cursor: pointer;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
    }
    
    .panel-body {
        padding: 13px 15px 15px 15px;
    }
    
    .panel-body:before {
        display: table;
        content: "";
    }
    
    .basic-details{
        margin-bottom: 10px;
        width: 25%;
        margin-top: 15px;
        display: flex;
        margin-right: 0px;
    }

    @media(max-width:640px){
        .basic-details{
            width: 98%;
        }
        .item_list{
            width:100%;
        }
    }
     

    </style>
{% endblock %}
{% block main_content %}

{% load static %}


        {% include 'progress_bar.html' %}
        <br>
          <div class="container-content py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
              
                <div class="basic-details-card" >
                  <ul class="item_list">
                      <!---->
                      <li class="item_list_block step_open">
                        <div class="info_title theme-color">
                            <span class="count_Icon theme-color">
                                1
                            </span>
                            
                            <!----><!---->
                            <span class="fl-right pan-icon material-icons" aria-describedby="cdk-describedby-message-0" cdk-describedby-host=""> Basic Details </span>
                            <!---->
                        </div>
                        <form method="POST" id="applicationForm"> 
                          {% csrf_token %} 
                        <div class="panel-body ng-star-inserted">
                          <div class="form-group" style="display:flex;justify-content:end;margin-bottom:1rem;">
                            <a id="add-vacancy-link" class="btn btn-sm btn-secondary">Add New Vacancy</a>
                          </div> 
                                <!----><!---->
                                {% for field in form %}
                                 
                                    <div class="form-group" style="margin-bottom:1rem;">
                                      {{ field.label_tag }}
                                      {{ field }}
                                      {% if field.errors %}
                                        <div class="text-danger">
                                          {% for error in field.errors %}
                                            {{ error }}
                                          {% endfor %}
                                        </div>
                                      {% endif %}
                                    </div>
                                 
                                {% endfor %}
                          <div class="form-group my-4">
                            <div class='row'>
                              <div class='col-md'>
                                <button type="Submit" id="id" class="btn btn-lg btn-primary " style='width:100%; height:30px;'>
                                    Submit
                                </button>
                              </div>
                            </div>
                          </div> 
                        </div>
                        </form>
                      </li>
                  </ul>
                </div>
              
            </div>
            <div class="basic-details" >
              <ul class="item_list">
                  <!---->
                  <li class="item_list_block step_open" style="overflow: auto;">
                      <div class="info_title theme-color" >
                          <span class="count_Icon theme-color">
                            2
                          </span>
                          <!----><!---->
                          <span class="fl-right pan-icon material-icons" aria-describedby="cdk-describedby-message-0" cdk-describedby-host=""> Documents </span>
                          <!---->
                      </div>
                      <div style="width:100%;height:120px;display:flex;">
                          <div class="doc" style="width: 100px;height: 100px;margin: 20px;">
                              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#resumeBackdrop" style="width: 100%;height: 90%;box-shadow: 0px 1px 3px 0px rgb(180 41 41 / 30%);">
                                  <img src="{% static 'img/image logo.webp' %}" alt="image" style="width:100%;height:90%;"> 
                                  <figcaption style="text-align: center;text-decoration: none;background: white;color:black;">Resume</figcaption>
                              </button>
                                
                                <!-- Modal -->
                              <div class="modal fade" id="resumeBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable">
                                      <div class="modal-content" style="width: 50%;height: 90%;margin: 2% auto;">
                                          <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Resume</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body" style="overflow-y: hidden;">
                                              {% if mime_type == 'application/pdf' %}
                                                  <embed src="data:application/pdf;base64,{{ binary_data }}" type="application/pdf" width="100%" height="100%">      
                                              {% elif mime_type|lower == 'image/jpg' or mime_type|lower == 'image/jpeg' or mime_type|lower == 'image/png' %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <img src="data:{{ mime_type }};base64,{{ binary_data }}" width="100%" alt="Resume Image">
                                              </div>
                                              {% else %}
                                              <div style="width: 100%; height: 500px; overflow: auto;">
                                                  <h3>This file type is not supported for preview or no resume uploaded.</h3>
                                              </div>
                                              {% endif %}                                          
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              {% comment %} <button type="button" class="btn btn-primary">Understood</button> {% endcomment %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="doc" style="width: 100px;height: 100px;margin: 20px;">
                              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#aadharBackdrop" style="width: 100%;height: 90%;box-shadow: 0px 1px 3px 0px rgb(180 41 41 / 30%);">
                                  <img src="{% static 'img/image logo.webp' %}" alt="image" style="width:100%;height:90%;"> 
                                  <figcaption style="text-align: center;text-decoration: none;background: white;color:black;">Aadhar</figcaption>
                              </button>
                                
                                <!-- Modal -->
                              <div class="modal fade" id="aadharBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable">
                                      <div class="modal-content" style="width: 50%;height: 90%;margin: 2% auto;">
                                          <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Aadhar</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body" style="overflow-y: hidden;">
                                              <form class="form" method="POST" action="" enctype="multipart/form-data" id="applicationForm">
                                                  {% csrf_token %}
                                                  <input type="file" class="panel-col text-bold-cell" accept="image/*, .doc, .docx, .pdf, .txt, .xlxs, .jpg, .jpeg, .png" name="aadhar_doc" id="aadhar_doc" value="" placeHolder="" required> 
                                                  <input type="hidden" value="{% if document_obj.aadhar_doc %}{{ document_obj.aadhar_doc }} {% endif %}" id="aadhar_file_name">
                                                  <button type="submit" id="btnSubmit" class="btn btn-primary" style="width:150px;height:35px;font-size:15px;margin-left:20px;">
                                                      Update
                                                  </button>
                                              </form>
                                              <hr>
                                              {% if aadhar_doc == '.jpg' or aadhar_doc == '.jpeg' or aadhar_doc == '.png' %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <img src="{{aadhar_doc.url}}" width="100%" alt="Resume Image"  width="100%" height="100%">
                                              </div>
                                              {% else %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <embed src="{{aadhar_doc.url}}" width="100%" alt="Resume Image"  width="100%" height="100%">
                                              </div>
                                              {% endif %}
                                              {% comment %} <div style="width: 100%; height: 500px; overflow: auto;">
                                                  <h3>This file type is not supported for preview or no resume uploaded.</h3>
                                              </div> {% endcomment %}
                                      
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              {% comment %} <button type="button" class="btn btn-primary">Understood</button> {% endcomment %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div style="width:100%;height:120px;display:flex;">
                          
                          <div class="doc" style="width: 100px;height: 100px;margin: 20px;">
                              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#panBackdrop" style="width: 100%;height: 90%;box-shadow: 0px 1px 3px 0px rgb(180 41 41 / 30%);">
                                  <img src="{% static 'img/image logo.webp' %}" alt="image" style="width:100%;height:90%;"> 
                                  <figcaption style="text-align: center;text-decoration: none;background: white;color:black;">PAN</figcaption>
                              </button>
                                
                                <!-- Modal -->
                              <div class="modal fade" id="panBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable">
                                      <div class="modal-content" style="width: 50%;height: 90%;margin: 2% auto;">
                                          <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">PAN</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body" style="overflow-y: hidden;">
                                              <form class="form" method="POST" action="" enctype="multipart/form-data" id="applicationForm">
                                                  {% csrf_token %}
                                                  <input type="file" class="panel-col text-bold-cell" accept="image/*, .doc, .docx, .pdf, .txt, .xlxs, .jpg, .jpeg, .png" name="pan_doc" id="pan_doc" value="" placeHolder="" > 
                                                  <input type="hidden" value="{% if document_obj.pan_doc %}{{ document_obj.pan_doc }} {% endif %}" id="pan_file_name">
                                                  <button type="submit" id="btnSubmit" class="btn btn-primary" style="width:150px;height:35px;font-size:15px;margin-left:20px;">
                                                      Update
                                                  </button>
                                              </form>
                                              <hr>
                                              {% if pan_doc == '.jpg' or pan_doc == '.jpeg' or pan_doc == '.png' %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <img src="{{pan_doc.url}}" width="100%" alt="Resume Image"  width="100%" height="100%">
                                              </div>
                                             {% else %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <embed src="{{pan_doc.url}}" width="100%" alt="Resume Image"  width="100%" height="100%">
                                              </div>
                                          {% endif %}
                                              {% comment %} <div style="width: 100%; height: 500px; overflow: auto;">
                                                  <h3>This file type is not supported for preview or no resume uploaded.</h3>
                                              </div> {% endcomment %}
                                      
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              {% comment %} <button type="button" class="btn btn-primary">Understood</button> {% endcomment %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="doc" style="width: 100px;height: 100px;margin: 20px;">
                              
                              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#dlBackdrop" style="width: 100%;height: 90%;box-shadow: 0px 1px 3px 0px rgb(180 41 41 / 30%);">
                                  <img src="{% static 'img/image logo.webp' %}" alt="image" style="width:100%;height:90%;"> 
                                  <figcaption style="text-align: center;text-decoration: none;background: white;color:black;">DL</figcaption>
                              </button>
                                
                                <!-- Modal -->
                              <div class="modal fade" id="dlBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable">
                                      <div class="modal-content" style="width: 50%;height: 90%;margin: 2% auto;">
                                          <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Driving Licence</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body" style="overflow-y: hidden;">
                                              <form class="form" method="POST" action="" enctype="multipart/form-data" id="applicationForm">
                                                  {% csrf_token %}
                                                  <input type="file" class="panel-col text-bold-cell" accept="image/*, .doc, .docx, .pdf, .txt, .xlxs, .jpg, .jpeg, .png" name="dl_doc" id="dl_doc" value="" placeHolder=""> 
                                                  <input type="hidden" value="{% if document_obj.dl_doc %}{{ document_obj.dl_doc }} {% endif %}" id="dl_file_name">
                                                  <button type="submit" id="btnSubmit" class="btn btn-primary" style="width:150px;height:35px;font-size:15px;margin-left:20px;">
                                                      Update
                                                  </button>
                                              </form>
                                              <hr>
                                              {% if dl_doc == '.jpg' or dl_doc == '.jpeg' or dl_doc == '.png' %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <img src="{{dl_doc.url}}" width="100%" alt="driving License"  width="100%" height="100%">
                                              </div>
                                              {% else %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <embed src="{{dl_doc.url}}" width="100%" alt="driving License"  width="100%" height="100%">
                                              </div>
                                              {% endif %}
                                             
                                              {% comment %} <div style="width: 100%; height: 500px; overflow: auto;">
                                                  <h3>This file type is not supported for preview or no resume uploaded.</h3>
                                              </div> {% endcomment %}
                                      
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              {% comment %} <button type="button" class="btn btn-primary">Understood</button> {% endcomment %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div style="width:100%;height:120px;display:flex;">
                          
                          <div class="doc" style="width: 100px;height: 100px;margin: 20px;">
                             
                              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#highschoolBackdrop" style="width: 100%;height: 90%;box-shadow: 0px 1px 3px 0px rgb(180 41 41 / 30%);">
                                  <img src="{% static 'img/image logo.webp' %}" alt="image" style="width:100%;height:90%;"> 
                                  <figcaption style="text-align: center;text-decoration: none;background: white;color:black;">High School</figcaption>
                              </button>
                                
                                <!-- Modal -->
                              <div class="modal fade" id="highschoolBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable">
                                      <div class="modal-content" style="width: 50%;height: 90%;margin: 2% auto;">
                                          <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">High School</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body" style="overflow-y: hidden;">
                                              <form class="form" method="POST" action="" enctype="multipart/form-data" id="applicationForm">
                                                  {% csrf_token %}
                                                  <input type="file" class="panel-col text-bold-cell" accept="image/*, .doc, .docx, .pdf, .txt, .xlxs, .jpg, .jpeg, .png" name="ssc_doc" id="ssc_doc" value="" placeHolder="" > 
                                                  <input type="hidden" value="{% if document_obj.ssc_doc %}{{ document_obj.ssc_doc }} {% endif %}" id="ssc_file_name" >
                                                  <button type="submit" id="btnSubmit" class="btn btn-primary" style="width:150px;height:35px;font-size:15px;margin-left:20px;">
                                                      Update
                                                  </button>
                                              </form>
                                              <hr>
                                              {% if ssc_doc == '.jpg' or ssc_doc == '.jpeg' or ssc_doc == '.png' %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <img src="{{ssc_doc.url}}" width="100%" alt="10th Marksheet"  width="100%" height="100%">
                                              </div>
                                             {% else %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <embed src="{{ssc_doc.url}}" width="100%" alt="10th Marksheet"  width="100%" height="100%">
                                              </div>
                                              {% endif %}
                                              {% comment %} <div style="width: 100%; height: 500px; overflow: auto;">
                                                  <h3>This file type is not supported for preview or no resume uploaded.</h3>
                                              </div> {% endcomment %}
                                      
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              {% comment %} <button type="button" class="btn btn-primary">Understood</button> {% endcomment %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="doc" style="width: 100px;height: 100px;margin: 20px;">
                              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#intermediateBackdrop" style="width: 100%;height: 90%;box-shadow: 0px 1px 3px 0px rgb(180 41 41 / 30%);">
                                  <img src="{% static 'img/image logo.webp' %}" alt="image" style="width:100%;height:90%;"> 
                                  <figcaption style="text-align: center;text-decoration: none;background: white;color:black;">Intermediate</figcaption>
                              </button>
                                
                                <!-- Modal -->
                              <div class="modal fade" id="intermediateBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable">
                                      <div class="modal-content" style="width: 50%;height: 90%;margin: 2% auto;">
                                          <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Intermediate</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body" style="overflow-y: hidden;">
                                              <form class="form" method="POST" action="" enctype="multipart/form-data" id="applicationForm">
                                                  {% csrf_token %}
                                                  <input type="file" class="panel-col text-bold-cell" accept="image/*, .doc, .docx, .pdf, .txt, .xlxs, .jpg, .jpeg, .png" name="hsc_doc" id="hsc_doc" value="" placeHolder="" required> 
                                                  <input type="hidden" value="{% if document_obj.hsc_doc %}{{ document_obj.hsc_doc }} {% endif %}" id="hsc_file_name" >
                                                  <button type="submit" id="btnSubmit" class="btn btn-primary" style="width:150px;height:35px;font-size:15px;margin-left:20px;">
                                                      Update
                                                  </button>
                                              </form>
                                              {% if hsc_doc == '.jpg' or hsc_doc == '.jpeg' or hsc_doc == '.png' %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <img src="{{hsc_doc.url}}" width="100%" alt="12th Marksheet"  width="100%" height="100%">
                                              </div>
                                             {% else %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <embed src="{{hsc_doc.url}}" width="100%" alt="12th Marksheet"  width="100%" height="100%">
                                              </div>
                                              {% endif %}
                                              {% comment %} <div style="width: 100%; height: 500px; overflow: auto;">
                                                  <h3>This file type is not supported for preview or no resume uploaded.</h3>
                                              </div> {% endcomment %}
                                      
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              {% comment %} <button type="button" class="btn btn-primary">Understood</button> {% endcomment %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div style="width:100%;height:120px;display:flex;">
                          
                          <div class="doc" style="width: 100px;height: 100px;margin: 20px;">
                              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#graduationBackdrop" style="width: 100%;height: 90%;box-shadow: 0px 1px 3px 0px rgb(180 41 41 / 30%);">
                                  <img src="{% static 'img/image logo.webp' %}" alt="image" style="width:100%;height:90%;"> 
                                  <figcaption style="text-align: center;text-decoration: none;background: white;color:black;">Graduation</figcaption>
                              </button>
                                
                                <!-- Modal -->
                              <div class="modal fade" id="graduationBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable">
                                      <div class="modal-content" style="width: 50%;height: 90%;margin: 2% auto;">
                                          <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Graduation</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body" style="overflow-y: hidden;">
                                              <form class="form" method="POST" action="" enctype="multipart/form-data" id="applicationForm">
                                                  {% csrf_token %}
                                                  <input type="file" class="panel-col text-bold-cell" accept="image/*, .doc, .docx, .pdf, .txt, .xlxs, .jpg, .jpeg, .png" name="graduate_doc" id="graduate_doc" value="" placeHolder=""> 
                                                  <input type="hidden" value="{% if document_obj.graduate_doc %}{{ document_obj.graduate_doc }} {% endif %}" id="graduate_file_name" >
                                                  <button type="submit" id="btnSubmit" class="btn btn-primary" style="width:150px;height:35px;font-size:15px;margin-left:20px;">
                                                      Update
                                                  </button>
                                              </form>
                                          <hr>
                                              {% if graduate_doc == '.jpg' or graduate_doc == '.jpeg' or graduate_doc == '.png' %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <img src="{{graduate_doc.url}}" width="100%" alt="Graduation"  width="100%" height="100%">
                                              </div>
                                             {% else %}
                                              <div style="width: 100%; height: 100%; overflow: auto;">
                                                  <embed src="{{graduate_doc.url}}" width="100%" alt="Graduation"  width="100%" height="100%">
                                              </div>
                                          {% endif%}
                                              {% comment %} <div style="width: 100%; height: 500px; overflow: auto;">
                                                  <h3>This file type is not supported for preview or no resume uploaded.</h3>
                                              </div> {% endcomment %}
                                      
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              {% comment %} <button type="button" class="btn btn-primary">Understood</button> {% endcomment %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
              </ul>
            </div>
          </div> 
                                  


  <script>
    document.getElementById('applicationForm').addEventListener('submit', function(event) {

        event.preventDefault();
        console.log("application form validation");
        const fullName = document.getElementById('full_name').value;
        const email = document.getElementById('email').value;
        const dobInput = document.getElementById('dob');
        const dobValue = dobInput.value;
        const dob = new Date(dobValue);
        const currentDate = new Date();
        const mobileNo = document.getElementById('mobile_no').value;
        const id_position = document.getElementById('id_position').value;
        const id_place = document.getElementById('id_place').value;

        console.log(fullName, email, dob, mobileNo, currentDate);

        const fullNamePattern = /^[A-Za-z\s]+$/;
        const emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
        const mobileNoPattern = /^[6-9]\d{9}$/;
       

        if (!fullNamePattern.test(fullName)) {
            alert('Full Name should contain only alphabetic characters and spaces.');
        } else if (!emailPattern.test(email)) {
            alert('Please enter a valid email address.');
        } else if (!dobValue) {
            alert('Please select Date of Birth.');
        } else if (dob >= currentDate) {
            alert('Date of Birth should be a valid date in the past.');
        } else if ((currentDate.getFullYear() - dob.getFullYear()) < 18) {
            alert('You must be 18 years or above.');
        } else if (!mobileNoPattern.test(mobileNo)) {
            alert('Please enter a valid 10-digit Mobile Number.');
        } else {
            alert("Candidate "+fullName+ " Successfully applied the Position of "+id_position+" for "+id_place);
            event.target.submit();
        }
    });
  </script>

    <script>
      document.addEventListener('DOMContentLoaded', () => {

        //---------------- Add Vacancy  link script -----------------//
          // Get the URL parameters from the current URL
          var fullUrl = (window.location.href).split('/')
          console.log(fullUrl)

          var url = fullUrl[fullUrl.length - 2]
          var id = fullUrl[fullUrl.length - 1]

          // Build the "Add Vacancy" link with the extracted parameters
          var addVacancyLink = '{% url 'postjob' %}' + '?url=' + encodeURIComponent(url) + '&id=' + encodeURIComponent(id);

          // Set the href attribute of the "Add Vacancy" link
          document.getElementById('add-vacancy-link').setAttribute('href', addVacancyLink);
        //------------------ End Add Vacancy link script ---------------//

        const placeSelect = document.getElementById('id_place');
        const positionSelect = document.getElementById('id_position');
      
        // Event listener for position select change
        positionSelect.addEventListener('change', () => {
          const positionValue = positionSelect.value;
          const formData = new FormData();
          formData.append('position', positionValue);

          if (positionValue) {
            // Send fetch request to fetch places for the selected position
            fetch('{% url 'fetch_interview_branches' %}', {
              method: 'POST',
              body: formData,
            })
              .then(response => {
                if (response.ok) {

                  return response.json();
                }
                throw new Error('Network response was not OK.');
              })
              .then(data => {
                data=JSON.parse(data);
                console.log(data);
                
                // Clear previous options and add new options based on the response
                placeSelect.innerHTML = '<option value="">Select Place</option>';
                
                data.forEach(place => {
                  const option = document.createElement('option');
                  option.value = place.branch;
                  option.text = place.branch;
                  placeSelect.appendChild(option);
                  
                  console.log(placeSelect.appendChild(option))
                });
               

                
              })
              .catch(error => {
                // Handle the error if needed
                console.error('Error:', error.message);
              });

          } else {
            // Clear the place select options if no position is selected
            placeSelect.innerHTML = '<option value="">Select Place</option>';
          }
        });
      });
      
    </script>  

<script>
    // Get the modal elements
    var acceptModal = document.getElementById("acceptModal");
    var holdModal = document.getElementById("holdModal");
    var rejectModal = document.getElementById("rejectModal");
  
    // Get the button elements
    var acceptButton = document.getElementById("acceptButton");
    var holdButton = document.getElementById("holdButton");
    var rejectButton = document.getElementById("rejectButton");
  
    // Get the <span> elements that close the modals
    var closeSpans = document.getElementsByClassName("close");
  
  
  
    // Open the hold modal
    holdButton.onclick = function() {
      holdModal.style.display = "block";
    };
  
    // Open the reject modal
    rejectButton.onclick = function() {
      rejectModal.style.display = "block";
    };
  
    // Close the modals when the <span> element is clicked
    for (var i = 0; i < closeSpans.length; i++) {
      closeSpans[i].onclick = function() {
        acceptModal.style.display = "none";
        holdModal.style.display = "none";
        rejectModal.style.display = "none";
      };
    };
  
    // Close the modals when clicking anywhere outside of them
    window.onclick = function(event) {
      if (event.target == acceptModal) {
        acceptModal.style.display = "none";
      }
      if (event.target == holdModal) {
        holdModal.style.display = "none";
      }
      if (event.target == rejectModal) {
        rejectModal.style.display = "none";
      }
    };
  </script>


  <script>
    // Get the select dropdown elements
var positionDropdown = document.getElementById("positionDropdown");
var placeDropdown = document.getElementById("placeDropdown");

// Function to populate the position dropdown options
function populatePositionDropdown() {
  // Call the API to fetch interview positions
    // Show loader while fetching data
    var loader = document.createElement("div");
    loader.className = "loader";
    positionDropdown.parentNode.appendChild(loader);

  fetch("/fetch_interview_positions")
    .then(response => response.json())
    .then(data => {
      // Clear existing options
      positionDropdown.innerHTML = "<option value='' selected>Select Position</option>";
        console.log(data)
      // Populate options from the API response
      
      data.forEach(position => {
        var option = document.createElement("option");
        option.value = position;
        option.text = position;
        positionDropdown.appendChild(option);
      });
       // Remove loader once data is fetched
       loader.parentNode.removeChild(loader);
    })
    .catch(error => {
      console.error("Error fetching interview positions:", error);
    });
   

}
// Function to populate the place dropdown options
function populatePlaceDropdown(position) {
  console.log(position)
    // Show loader while fetching data
    var loader = document.createElement("div");
    loader.className = "loader";
    placeDropdown.parentNode.appendChild(loader);

    // Create a new FormData object
    var formData = new FormData();
    formData.append('position', position);
  
    // Call the API to fetch interview branches
    fetch("/fetch_interview_branches", {
      method: "POST",
      body: formData
    })
      .then(response => response.json())
      .then(data => {
        // Clear existing options
        placeDropdown.innerHTML = "";
        console.log(data)
  
        // Populate options from the API response
        data.forEach(place => {
          var option = document.createElement("option");
          option.value = place;
          option.text = place;
          placeDropdown.appendChild(option);
        });
        // Remove loader once data is fetched
      loader.parentNode.removeChild(loader);
      })
      .catch(error => {
        console.error("Error fetching interview branches:", error);
      });
  }
  

// Event listener for position dropdown change
positionDropdown.addEventListener("change", function() {
  var position = this.value;
  populatePlaceDropdown(position);
});

// Open the accept modal
acceptButton.onclick = function() {
  populatePositionDropdown();
  acceptModal.style.display = "block";
};

// Get the form and select elements
var acceptForm = document.getElementById("acceptForm");

// Event listener for form submission
acceptForm.addEventListener("submit", function(event) {
  event.preventDefault(); // Prevent form from submitting normally

  // Get the selected values
  var position = positionDropdown.value;
  var place = placeDropdown.value;

  // Create a FormData object to send the data as a POST request
  var formData = new FormData();
  formData.append("position", position);
  formData.append("place", place);

  // Call the API to accept the user
  fetch("{% url 'accept_user' refId=user_profile.id %}", {
    method: "POST",
    body: formData
  })
    .then(response => {
      // Handle the response as needed
      // ...
      window.location.replace("{% url 'sceduled_user_full_details' refId=user_profile.id %}");
    })
    .catch(error => {
      console.error("Error accepting user:", error);
    });
});


  </script>

    {% endblock main_content%}