<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Show Info</title>
  </head>
  <style type="text/css">
    <!--
        p {margin: 0; padding: 0;}	.ft00{font-size:18px;font-family:UNILIE+TimesNewRomanPSMT;color:#000000;}
        .ft01{font-size:18px;font-family:GLFLSD+Calibri;color:#000000;}
        .ft02{font-size:18px;line-height:20px;font-family:UNILIE+TimesNewRomanPSMT;color:#000000;}
        table{width:200px;height:300px;border:1px solid black;}
        td{width:100%;height:23px;text-align:center;}
    -->
    </style>
    </head>
    <body bgcolor="#A0A0A0" vlink="blue" link="blue">
    <div id="page1-div" style="position:relative;width:918px;height:1188px;">
    {% comment %} <img width="918" height="1188" src="job-offer-letter-template001.png" alt="background image"/> {% endcomment %}
    <p style="position:absolute;top:109px;left:109px;white-space:nowrap" class="ft02">
        
        <B><h1 style="text-align:right;margin-right:30px;font-size:20px;font-weight:700;margin-bottom:0px;">SONATA FINANCE PVT. LTD. </h1><B>
            <div style="margin-left:410px;">
               <p >Il Floor CP-1, PG Towers, KufSi ROdd, Vikas Nagar,</p>
               <p >Lucknow - 226026, Uttar Pradesh, lndia</p>
               <p >Email: info@sonataindia.com,Website: www.sonataindia.com </p>
               <p >Ph.: +91-522-2334900, Tol Free: 1800-2100-102</p>
               <p >C.I. No.: U65921UP1995PTC035286 </p>
               <p >NBFC MFI Regn. No.: B-12.0044S</p>
            </div>

        <hr> <br><br>
        
        <h2 style="text-align:left;"><I>sonata/HRD/HO/Offer Letter</I></h2>  <h2 style="text-align:right;margin-right:30px;">Date:- MM/DD/YYYY</h2>
        <h1><b>Mr. {{profile.name}}</b><br/>
        Candidate Address<br/>
        {{profile.present_city}},{{profile.present_state}},{{profile.present_pin}} </h1><br/>
        <br/>
        
        <h2>Dear Mr. <b>{{profile.name}},</h2></b><br/>

        <h2 style="margin : 0px;">With reference to your application and interview held on 07 September 2022 for the captioned post of Probationary Manager-Ill (IT Department). It has been decided to post you at Head Office, Lucknow from 12^September 2022 on respective designation.</h2><br>

        <h2 style="margin : 0px;">Welcome to SONATA Finance Pvt Ltd. We would like to take this opportunity of sharing our Institution’s vision, which you are going to be part of. We inculcate a culture of empowerment and entrepreneurship, which attracts the brightest minds to ma ke our institution into a Global Indian Micro Financial Services Brand. Our primary business driver is Value Creation for our customers, stakeholders, and not just size of business. We offer real time world-class solutions to our customers, which are pragmatic and uniquely Indian.</h2><br>

        <h2 style="margin : 0px;">We take pleasure in inviting you to join SONATA Finance Pvt Ltd as Probationary Manager-III (IT Department). We would appreciate your joining along with the documents mentioned in Annexure ’A’. Your overall remuneration and the benefits that would be applicable to you are attached for your perusal in Annexure ’B’.</h2><br>

        <h2 style="margin : 0px;">Kindly confirm your affirmation by signing on this letter. We look forward to working with you and would like you to participate in working with us to make our company a most preferred employer in micro financial services industry.</h2><br>

        <h2 style="margin : 0px;">Duratlon of the Probation:</h2><br>

        <h2 style="margin : 0px;">The probation will be executed for six months. After the six months your performance will be evaluated based on certain standard set by us, for your confirmation.</h2><br>

        <h2 style="margin : 0px;"><b>Leave:</b> You will be entitled for 6 casual leaves for 6 months.</h2><br><br><br><br><br><br><br><br><br>

        

        <p style="text-align:center;">Regd. Office : II Floor CP-1, PG Towers, Kursi Road, Vikas Nagar, Lucknow - 226026, Uttar Pradesh, India</p><br><br> 

        

        <b><U><h1 style="margin-bottom:0px;">Nature of Appoltltment:</h1></U></b><br>

        <h2 style="margin-top:0px;"> You will be treated as Probationary employee though your performance will be review time to time and the decision for your posting as a Confirmed employee will be depend on supervisors and binding on you.</h2><br>

        <b><U><h1 style="margin-bottom:0px;">Termination:</h1></U></b><br>

        <h2 style="margin-top:0px;"><B>1.</B>	Your appointment can be terminated by the Company, without any reason, by giving you not less than fifteen days’ (During Probation Period) prior notice in writing or salary in lieu thereof. For the purpose or this clause, salary shall mean Gross salary. <br><br>

        <B>2.</B>	You may terminate your employment with the Company, without any cause, by giving no less than Fifteen days’ (Durlng Probation Period) and Thirty days’ (Confirmed Period) prior notice or salary in lieu of not serving notice period. <br><br><br><br><br><br>

        <B>FOR SONATA FINANCE PVT. LTD.</B> </h2> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <br><br><br><br><br><br>

        <B><U><h1 style="text-align:center;">ANNEXURE 'A'</h1></U></B> <br><br>

        <h2>You are requested to bring with you the following documents at the time of joining your duties: Ignore if already submitted. <br><br><br>

        1.	One passport size photograph. <br><br>
        2.	Copies of educational/professional qualifications. <br><br>
        3.	Experience certificates. <br><br>
        4.	Relieving letter from the present employer (if applicable). <br><br>
        5.	Salary Proof (Last 3 Months). <br><br>
        6.	Certificates in support of date of birth. <br><br>
        7.	Copy of Passport (if applicable). </h2> <br><br>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


        <B><h1 style="text-align:right;margin-right:30px;font-size:20px;font-weight:700;margin-bottom:0px;">SONATA FINANCE PVT. LTD. </h1><B>
            <div style="margin-left:410px;">
               <p >Il Floor CP-1, PG Towers, KufSi ROdd, Vikas Nagar,</p>
               <p >Lucknow - 226026, Uttar Pradesh, lndia</p>
               <p >Email: info@sonataindia.com,Website: www.sonataindia.com </p>
               <p >Ph.: +91-522-2334900, Tol Free: 1800-2100-102</p>
               <p >C.I. No.: U65921UP1995PTC035286 </p>
               <p >NBFC MFI Regn. No.: B-12.0044S</p>
            </div>

        <hr> <br><br>

       <B><h1 style="text-align:center;margin-bottom:0px;"> ANNEXURE- B </h1> </B> 
       <B><h2 style="text-align:center;margin-top:0px;"> COMPENSATION PACKAGE </h2></B> <br><br>

       <table>
         <tr>
            <td><b>Name</b></td>
            <td><b>{{profile.name}}</b></td>
         </tr>
         <tr>
            <td><b>Designation</b></td>
            <td><b>Probadonary Manager-III</b></td>
         </tr>
         <tr>
            <td><b>Pay Slab</b></td>
            <td><b>Manager [III]</b></td>
         </tr>
         <tr>
            <td><b>Posting Place</b></td>
            <td><b>Head Office</b></td>
         </tr>
         <tr>
            <td></td>
            <td></td>
         </tr>
         <tr>
            <td><b>Total Payable amount-</b></td>
            <td></td>
         </tr>
         <tr>
            <td><b>Partlculars</b></td>
            <td><b>Amount</b></td>
         </tr>
         <tr>
            <td><b>Bask</b></td>
            <td><b>12000</b></td>
         </tr>
         <tr>
            <td><b>Performance Pay</b></td>
            <td><b>4S00</b></td>
         </tr>
         <tr>
            <td><b>Bonus</b></td>
            <td><b>2400</b></td>
         </tr>
         <tr>
            <td><b>Employer PF Contributlon</b></td>
            <td><b>1582</b></td>
         </tr>
         <tr>
            <td><b>ESIC</b></td>
            <td><b>614</b></td>
         </tr>
         <tr>
            <td><b>Gross Monthly Benefit</b></td>
            <td><b>21096/-</b></td>
         </tr>
         <tr>
            <td></td>
            <td></td>
         </tr>
         <tr>
            <td><b>Total Deduction-</b></td>
            <td></td>
         </tr>
         <tr>
            <td><b>Particulars</b></td>
            <td><b>Amount</b></td>
         </tr>
         <tr>
            <td><b>Employee Provident Fund @ 2S.189t</b></td>
            <td><b>3022</b></td>
         </tr>
         <tr>
            <td><b>ESIC(4X)</b></td>
            <td><b>756</b></td>
         </tr>
         <tr>
            <td><b>Net Salary Drawn</b></td>
            <td><b>17318/-</b></td>
         </tr>

       </table>
       
       <br><br><br>

       <B><h1>FOR SONATA FINANCE PVT. LTD.</h1></B>
        
       <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
       <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>
    </body>
   
</html>