

{% load static %}

<style>
 
  .bg-white{
    margin-left:35px;
    width:80%;
    margin-top:40px;
  }

  /* PROGRESS BAR CSS */

.stepper-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 5px;
    height: 80px;
    padding-top: 10px;
    margin-top: 20px;
}

@media(max-width:640px){
  .stepper-wrapper{
    height:100px;
    margin-left:1%;
    margin-right:1%;
  }
  
  .stepper-item{
    width:10%;
  }

  .step-name{
    font-size:.6rem!important;
    padding:1px;
    margin-right:5px;
  }

  .bg-white{
    width:98%;
  }
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
}

.stepper-item.active {
    font-weight: bold;
}

.stepper-item.completed .step-counter {
    background-color: #4bb543;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}

.stepper-item:last-child::after {
    content: none;
}

#google_element{
    padding-top: 18px;
    padding-left: 5px;
  }
  #google_element span{
    display:none;
  }
  iframe{
    display:none;
  }
  .goog-te-gadget .goog-te-combo {
    margin: 4px 0;
    height: 25px;
    border-radius: 5px;
    font-weight: 700;
  }
  .translated-ltr{
    margin-top: -40px;
  }
  .translated-ltr{
    margin-top : -40px;
  }
  .goog-te-banner-frame{
    display: none;
    margin-top : -20px;
  }
  .goog-logo-link{
    display: none !important;
  }
  .goog-te-gadget{
    color: transparent !important;
  }
</style>

  <div class="stepper-wrapper bg-white">
    <div class="stepper-item {% if status >= 0 and status <= 7  %} completed {% endif %}">
      <div class="step-counter"></div>
      <div class="step-name">Recieved CVs</div>
    </div>
    <div class="stepper-item {% if status >= 1 and status <= 7 %} completed {% endif %}">
      <div class="step-counter"></div>
      <div class="step-name">HR Screening</div>
    </div>
    <div class="stepper-item {% if status >= 2 and status <= 7 %} completed {% endif %}">
      <div class="step-counter"></div>
      <div class="step-name">Profile Update</div>
    </div>
    <div class="stepper-item {% if status >= 3 and status <= 7 %} completed {% endif %}">
        <div class="step-counter"></div>
        <div class="step-name">Online Test Scheduled</div>
    </div>
    <div class="stepper-item {% if status >= 4 and status <= 7 %} completed {% endif %}">
        <div class="step-counter"></div>
        <div class="step-name">Online Test Submitted</div>
    </div>
    <div class="stepper-item {% if status >= 5 and status <= 7 %} completed {% endif %}">
        <div class="step-counter"></div>
        <div class="step-name">Interview Scheduled</div>
    </div>
    <div class="stepper-item {% if status >= 6 and status <= 7 %} completed {% endif %}">
        <div class="step-counter"></div>
        <div class="step-name">Interview Assessed</div>
    </div>
    <div class="stepper-item {% if status == 7 and status <= 7 %} completed {% endif %}">
        <div class="step-counter"></div>
        <div class="step-name">Onboarding</div>
    </div>
  </div>

