{% extends 'base.html' %}
{% block main_content %}

{% load static %}
<style>

  .data{
    margin-top:60px;
  }

  .col-md-12{
    width:100%;
    margin-bottom: 10px;
  }

  @media (min-width: 640px){
    .wow{
      width:25%;
      display:block;
    }
  }

  .card{
    height:100%;
  }

  @media (min-width: 720px){
    .flex-wrap{
      display: flex!important;
    }
    }

  .wow{
    margin-bottom: 15px;
    
  }

  @media (max-width: 1279px){
    .mobile-nav-show {
      color: rgba(73, 70, 70, 0.6);
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      z-index: 9999;
      margin-right: 10px;
    }
  }

  body{
    color: #38393a;
}
</style>

<div class="data">
  <div class="container-xxl py-3" >
    <div class="container">
      <div class="row g-4">
        <div class='d-flex justify-content-between align-item-center'>
          <div >
            <h1 style="color: #000000ba;font-weight: 600;">Question Sheets</h1>
          </div>
        </div>
        <hr>
        <div class="flex-wrap" style="gap:1rem 1.4rem;">
         {% for q in sheets %}
          <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card" style="height:270px;border-radius:10px;">
            <div class="card" style="border-radius: 10px;border: 1px solid lightblue;">
              <div class="card-body text-center" style="box-shadow: 1px 1px 20px 1px;padding: 2rem 2rem;background-color: #FFDEE9;background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);border-radius: 10px;">
                <a class="card-inner-cp card-cp-wt cursor" href="{% url 'quest_sheetlist_details' sheet_id=q.sheet_id %}" style="text-decoration:none;">
                  {% for w in questions %}
                  {% if w.sheet_id == q.sheet_id %}
                  <div style="height:30%;">
                    <h5 class="mb-2 text-dark font-weight-normal" style="margin-top: 1rem">Sheet Id</h5>
                    <h2 class="mb-4 text-dark font-weight-bold">{{q.sheet_id}}</h2>                      
                  </div>
                  <div style="height:30%;">
                    <h5 class="mb-2 text-dark font-weight-normal" style="margin-top: 3rem;">No.of Question </h5>
                    <h2 class="mb-4 text-dark font-weight-bold">{{w.sheet_id__count}}</h2>
                  </div>
                  {% endif %}  
                  {% endfor %}
                </a>
              </div>
            </div>
          </div>
         {% endfor %}
        </div>
      </div>
    </div>
  </div>   
</div>

{% endblock main_content%}