{% extends 'base.html' %}
{% block main_content %}

{% load static %}

<style>
        /* Styling for the form */
        #filter-form {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
        }

        #filter-form label {
            margin-left: 10px;
        }

        #filter-form .form-control {
            margin-left: 10px;
            width: 150px;
        }

        #filter-button {
            margin-left: 10px;
        }

  .col-md-12{
    width:100%;
    margin-bottom: 10px;
  }
  
  @media (min-width: 720px){
    .col-md-12{
      width:23%;
      display:block;
    }
  }
  
  .card{
    height:100%;
  }
  
  @media (min-width: 720px){
    .flex-wrap{
      display: flex!important;
    }
  }
  @media (max-width: 1279px){
    .mobile-nav-show {
      color: rgba(73, 70, 70, 0.6);
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      z-index: 9999;
      margin-right: 10px;
    }
  }

  @media(max-width:640px){
    #filter-form {
      display:block;
    }
    #filter-form label{
      width: 100%;
      margin-left:0px;
    } 
    #filter-form .form-control {
      width:100%;
      margin-left:0px;
    }
    #filter-button {
      margin-top: 10px;
      margin-left:0px;
  }
  }

  body{
    counter-reset: Serial;          
}

tr td:first-child:before
{
  counter-increment: Serial;      
  content: counter(Serial); 
}

body{
  color: #38393a;
}
    </style>


<div class="main-panel">
  <div class="content-wrapper">

    {% comment %} <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card" style="height:500px;">
          <div class="card-heading" style="padding: 2.5rem 2.5rem">
            <h4 class="card-title" style="text-align:center;width:100%;">Schedule Online Test</h4>
          </div>
          <div class="card-content" style="overflow:auto;padding: 2.5rem 2.5rem">
            <table class="table table-hover" style="margin-top:0px;">
              <thead>
                <tr>
                  <th>S/No.</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Mobile No.</th>
                  <th>Position Shortlisted For</th>
                  <th>Branch Shortlisted For</th>
                  <th>More Details</th>
                </tr>
              </thead>
              {% for x in applicants %}
              <tbody>
                <tr>
                  <td></td>
                  <td>{{ x.name }}</td>
                  <td>{{ x.email }}</td>
                  <td>{{ x.mobile_no }}</td>
                  <td>{{ x.position_shortlisted_for }}</td>
                  <td>{{ x.branch_shortlisted_for }}</td>
                  <td><a href="{% url 'schedule_test_user_full_details' refId=x.application_id %}" style="text-decoration:none;"><label class="badge badge-danger">View</label></a></td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div> {% endcomment %}

    <br>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card" style="height:500px;">
          <div class="card-heading" style="padding: 2.5rem 2.5rem" >
            <h4 class="card-title" style="text-align:center;width:100%;">Pending Schedule Test</h4>
          </div>
          <div class="card-content" style="overflow:auto;padding: 2.5rem 2.5rem">
            <table class="table table-hover" style="margin-top:0px;">
              <thead>
                <tr>
                  <th>S/No.</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Mobile No.</th>
                  <th>Position Shortlisted For</th>
                  <th>Branch Shortlisted For</th>
                  <th>More Details</th>
                </tr>
              </thead>
              {% for x in applicants2 %}
              <tbody>
                <tr>
                  <td></td>
                  <td>{{ x.name }}</td>
                  <td>{{ x.email }}</td>
                  <td>{{ x.mobile_no }}</td>
                  <td>{{ x.position_shortlisted_for }}</td>
                  <td>{{ x.branch_shortlisted_for }}</td>
                  <td><a href="{% url 'schedule_test_user_full_details' refId=x.application_id %}" style="text-decoration:none;"><label class="badge badge-danger">View</label></a></td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card" style="height:500px;">
          <div class="card-heading" style="padding: 2.5rem 2.5rem" >
            <h4 class="card-title" style="text-align:center;width:100%;">Candidate's has not been complete the Online or Offline test</h4>
          </div>
          <div class="card-content" style="overflow:auto;padding: 2.5rem 2.5rem">
            <table class="table table-hover" style="margin-top:0px;">
              <thead>
                <tr>
                  <th>S/No.</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Mobile No.</th>
                  <th>Position Shortlisted For</th>
                  <th>Branch Shortlisted For</th>
                  <th>More Details</th>
                </tr>
              </thead>
              {% for x in applicants1 %}
              <tbody>
                <tr>
                  <td></td>
                  <td>{{ x.name }}</td>
                  <td>{{ x.email }}</td>
                  <td>{{ x.mobile_no }}</td>
                  <td>{{ x.position_shortlisted_for }}</td>
                  <td>{{ x.branch_shortlisted_for }}</td>
                  <td><a href="{% url 'schedule_test_user_full_details' refId=x.application_id %}" style="text-decoration:none;"><label class="badge badge-danger">View</label></a></td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function fetchBranchOptions(selectedPosition) {
  $.ajax({
    url: `/get_branch_exam_options/?position=${selectedPosition}`,
    processData: false,
    contentType: false,
    success: function(response) {
      const branchFilter = document.getElementById('branchFilter');
      branchFilter.innerHTML = '<option value="None">All Branches</option>'; // Add a default option
      response.branch_options.forEach(branch => {
          // Append a new option to the branch select for each branch option
          branchFilter.innerHTML += `<option value="${branch}">${branch}</option>`;
      });
    },
    error: function(error) {
    // Handle errors (optional)
    console.log('Error occurred:', error);
    }
  });
}
</script>

<script>
    const positionFilter = document.getElementById('positionFilter');
    const branchFilter = document.getElementById('branchFilter');
    const filteredResults = document.getElementById('filtered-results');
    const filterButton = document.getElementById('filter-button');
    
    // Make AJAX API call to fetch the filtered data
      filterButton.addEventListener('click', () => {
      formdata = new FormData();
      const selectedPosition = positionFilter.value;
      const selectedBranch = branchFilter.value;
      formdata.append('csrfmiddlewaretoken', $("input[name=csrfmiddlewaretoken").val());
      formdata.append('position', selectedPosition);
      formdata.append('branch', selectedBranch);
      console.log($("input[name=csrfmiddlewaretoken").val())

      $.ajax({
            url: "{% url 'api_exam_filter' %}",
            type: 'POST',
            data: formdata,
            processData: false,
            contentType: false,
            success: function(response) {
            let html = ``;
            for (const x of response) {
            url = "/schedule_test_user_full_details/"+x.id
            img_url = "/static/img/profile_logo.jpg"
            html += `
                <div class="col-md-12 col-xl-4" style="max-width: 23%;">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body text-center">
                    <div class="mt-3 mb-4">
                      <img src=${img_url}
                        class="rounded-circle img-fluid" style="width: 100px;" />
                    </div>
                    <h4 class="mb-2">${ x.name }</h4>
                    <p class="text-muted">${x.email}</p>
                    <p class="text-muted">${x.mobile_no}</p>
                    <a href=${url} style="text-decoration:none;"><button type="button" class="btn btn-primary btn-rounded btn-lg">
                     More Details
                    </button></a>
                    <div class="d-flex justify-content-between text-center mt-3 mb-2">
                      
                    </div> 
                  </div>
                </div>
              </div>
            `;
            }

            // Update the content on the page
            filteredResults.innerHTML = html;
            },
            error: function(error) {
            // Handle errors (optional)
            console.log('Error occurred:', error);
            }
        });
    });

        //clear filter and show all vacancy
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("col-md-12");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}
</script>

{% endblock main_content%}