{% extends 'base.html' %}
{% block main_content %}

{% load static %}

<style>
        /* Styling for the form */
        #filter-form {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
        }

        #filter-form label {
            margin-left: 10px;
        }

        #filter-form .form-control {
            margin-left: 10px;
            width: 150px;
        }

        #filter-button {
            margin-left: 10px;
        }
        
        @media(max-width:640px){
          #filter-form {
            display:block;
          }
          #filter-form label{
            width: 100%;
            margin-left:0px;
          } 
          #filter-form .form-control {
            width:100%;
            margin-left:0px;
          }
          #filter-button {
            margin-top: 10px;
            margin-left:0px;
        }
        }
        
        @media (max-width: 1279px){
          .mobile-nav-show {
            color: rgba(73, 70, 70, 0.6);
            font-size: 28px;
            cursor: pointer;
            line-height: 0;
            transition: 0.5s;
            z-index: 9999;
            margin-right: 10px;
          }
        }

        body{
          color: #38393a;
      }
    </style>


<div class="data">
      <div class="container-xxl py-3" >
        <div class="container">
          <div class="row g-4">
            <h1 id ="myDIV" style="color: #000000ba;font-weight: 600;margin-top:80px;">Candidate Shortlisting</h1>
            <hr>

            <div class="d-flex flex-wrap" style="gap:2rem 7.6rem;" id="filtered-results">
              {% if rows %}
              {% for x in rows %}
              <div class=" wow fadeInUp card p-4 " style="background-color: #fff;box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.3);border-radius: 6px;" data-wow-delay="0.1s" id="received">
                <div class="card-item card-button" style="min-height:200px;margin-bottom:8px;">
                  
                  <a class="cat-item rounded" href="{% url 'assessed_candidates_details' x.vacancy_id %}" style="text-decoration:none;"> 
                        <p class="mb-0" style="color:#000000ba;border-bottom: solid 1px #e3e3e3;font-size: 13px;font-weight: 500;"> <span style="font-weight: 600;font-size: 18px; color:dimgray;"> {{ x.role }} </span> </p>
                        <br>
                        <p class="mb-0" style="color:#000000ba;border-bottom: solid 1px #e3e3e3;font-size: 13px;font-weight: 500;">Branch Name :- <span style="font-weight: 800;font-size: 13px;"> {{ x.branch }} </span> </p>
                        <br>
                        <p class="mb-0" style="color:#000000ba;border-bottom: solid 1px #e3e3e3;font-size: 13px;font-weight: 500;">No. of Vacancies :- <span style="font-weight: 800;font-size: 13px;"> {{ x.capacity }} </span> </p>
                        <br>
                        {% comment %} <p class="mb-0" style="color:#000000ba;border-bottom: solid 1px #e3e3e3;font-size: 13px;font-weight: 500;">No Of Candidates Assessed :- <span style="font-weight: 800;font-size: 13px;"> {{ x.assessed_candidates_count }} </span> </p> {% endcomment %}
                  </a>
                  
                </div>
              </div>
              {% endfor %}
              {% else %}
              <h3 style="color: #000000ba;"> No candidates have been shortlist. </h3>
              {% endif %}
            </div>
          </div>
        </div>
      </div>   
</div>

<script>
function fetchBranchOptions(selectedPosition) {
  $.ajax({
    url: `/get_branch_shortlist_options/?position=${selectedPosition}`,
    processData: false,
    contentType: false,
    success: function(response) {
      const branchFilter = document.getElementById('branchFilter');
      branchFilter.innerHTML = '<option value="None">All Branches</option>'; // Add a default option
      response.branch_options.forEach(branch => {
          // Append a new option to the branch select for each branch option
          branchFilter.innerHTML += `<option value="${branch}">${branch}</option>`;
      });
    },
    error: function(error) {
    // Handle errors (optional)
    console.log('Error occurred:', error);
    }
  });
}
</script>

<script>
    const positionFilter = document.getElementById('positionFilter');
    const branchFilter = document.getElementById('branchFilter');
    const filteredResults = document.getElementById('filtered-results');
    const filterButton = document.getElementById('filter-button');
    
    // Make AJAX API call to fetch the filtered data
      filterButton.addEventListener('click', () => {
      formdata = new FormData();
      const selectedPosition = positionFilter.value;
      const selectedBranch = branchFilter.value;
      formdata.append('csrfmiddlewaretoken', $("input[name=csrfmiddlewaretoken").val());
      formdata.append('position', selectedPosition);
      formdata.append('branch', selectedBranch);
      console.log($("input[name=csrfmiddlewaretoken").val())

      $.ajax({
            url: "{% url 'api_shortlist_filter' %}",
            type: 'POST',
            data: formdata,
            processData: false,
            contentType: false,
            success: function(response) {
            let html = ``;
            for (const x of response) {
            url = "/assessed_candidates_details/"+x.vacancy_id
            html += `
                <div class="wow fadeInUp" style="flex-basis: 25%; max-width: 23%;background-color:white; border: radius #FFFFFF; border-radius: 10px;" data-wow-delay="0.1s" id="received">
                  <div class="card-item card-button">
                    <a class="cat-item rounded" href=${url} style="text-decoration:none;"> 
                      {% comment %} <div style="background-color: #00008B; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; margin: -20px -20px 0;"> {% endcomment %}
                      <h6 class="mb-3" style="color:#000000ba;font-weight: 600; margin: 0;">Branch Name :- ${x.vacancy_branch_name} </h6>
                       {% comment %} </div> {% endcomment %}
                        <hr>
                        <p class="mb-0" style="color:#000000ba;font-weight: 600;">Job Role :- ${x.vacancy_job_role}</p>
                        <hr>
                        <p class="mb-0" style="color:#000000ba;font-weight: 600;">No Of Vacancies :- ${x.no_of_vacancies}</p>
                        <hr>
                        <p class="mb-0" style="color:#000000ba;font-weight: 600;">No Of Candidates Assessed :- ${x.assessed_candidates_count}</p>
                        <hr>
                    </a>
                  </div>
                </div>
            `;
            }

            // Update the content on the page
            filteredResults.innerHTML = html;
            },
            error: function(error) {
            // Handle errors (optional)
            console.log('Error occurred:', error);
            }
        });
    });


    //clear filter and show all vacancy
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("wow fadeInUp");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}
</script>

{% endblock main_content%}