{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Exam</title>
    <style>
        .message_div{
            text-align: center;
            margin-top: 22%;
        }

        body{
            color: #38393a;
        }
    </style>
</head>
<body style="background-color: #dad0d0;">
    <div class="message_div">
        <p style="font-size: 23px;{% if red %} color: red; {% elif green %} color:green; {% else %} color:blue;{% endif %}">
           
           {% if message %}
           
           {{ message }}
           {% endif %}
        </p>
    </div>
</body>
</html>